<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="huang.andrea.safestreets">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- The FOREGROUND_SERVICE permission is required for API level 28 and greater. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
</manifest>
